### Excluding Miscellaneous Files ###


### Excluding Frontend files ###
# Visual Studio Code workspace file
**/*.code-workspace
**/.vscode

# Python compiled files
*.pyc
__pycache__
# PyCharm workspace files
**/.idea
.idea
**/logs
logs
**/venv
.DS_Store
